/* CSS */
.fancy{
  font-family: Arial, Helvetica, sans-serif;
}

.fancy td, .fancy th{
  padding: 5px 18px;
}

.fancy th{
  background-color: gray;
  color: white;
}

.decimal{
  text-align: right;
}

.fancy tr:nth-child(even){
  background-color: #eff4ff;
}

.fancy tr:nth-child(odd){
  background-color: #dee3ed;
}

.subunit { fill: #F0F8FF; }
.subunit.USB { fill: #E6E6FA; }
.subunit.BRA { fill: #E6E6FA; }
.subunit.INX { fill: #E6E6FA; }
.subunit.ESX { fill: #E6E6FA; }
.subunit.GTM { fill: #E6E6FA; }
.subunit.HND { fill: #E6E6FA; }
.subunit.RUA { fill: #E6E6FA; }
.subunit.DEU { fill: #E6E6FA; }


.subunit-boundary {
  fill: none;
  stroke:   #708090;
  stroke-width: 0.5;
  stroke-dasharray: 1,1;
  stroke-linejoin: round;
}

.subunit-label {
  fill:   #696969;
}

.place {
  fill: none;
  stroke: #708090;
}

.place-label {
  fill:   #696969;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50spx;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
